.ud-about {
    z-index: 1 !important;
    background: black !important;
    position: relative !important;

    h4 {
        font-weight: 500;
        font-size: 1.1em;
        line-height: 1.6em;
    }

    .aw-about {
        background: rgba(10, 10, 10, 0.2);
        border: 1px solid var(--primary-color);
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }

    .card-body {
        width: 100%;
        height: 100%;
        text-align: center !important;
        background: transparent;
    }

    .card-title {
        color: var(--primary-color)
    }

    .card-group {
        padding: 16px;
        text-align: justify;
        border-radius: 25px
    }

    .card {
        background: transparent;
    }

    .card-text {
        color: var(--white);
    }
}

