/* ===== Awards CSS ===== */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.aw-dark {
    background: black;
}

#awards {
    overflow-x: hidden;
}

.aw-dark-back {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../images/tech-background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.ud-awards {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;

    @media #{$xs} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.aw-awards-title {
    max-width: 620px;
    margin-bottom: 25px;
    margin-top: 20px;

    h2 {
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        text-transform: capitalize;
        color: white;
    }

    p {
        font-size: 20px;
        line-height: 30px;

        @media #{$xs} {
            font-size: 15px;
            line-height: 26px;
        }
    }
}

.ud-single-awards {
    margin-bottom: 40px;
    background: var(--white);
    border: 2px solid #d4deff;
    border-radius: 8px;
    text-align: center;
    padding: 35px 25px;
    position: relative;

    &.first-item, &.last-item {
        background: rgba(10, 10, 10, 0.6) !important;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(92, 92, 92, 0.692);
        padding: 35px 25px;

        .aw-img {
            height: 210px;
            padding-top: 10px;
        }
    }

    &.active {
        // background: linear-gradient(180deg, #3056d3 0%, #179bee 100%);
        background-color: rgba(20, 20, 20, 0.5) !important;
        backdrop-filter: blur(10px);
        border: 1px solid var(--primary-color);
        padding: 35px 25px;

        .aw-img {
            height: 250px;
            padding-top: 10px;
        }


        .ud-awards-header {
            h3,
            h4 {
                margin-bottom: 15px;
            }
        }

        .ud-awards-body {
            li {
                color: var(--white);
            }
        }
    }

    &.first-item::after,
    &.last-item::after {
        content: "";
        position: absolute;
        width: 55px;
        height: 55px;
        z-index: 1;
    }

    &.first-item::after {
        background: radial-gradient(#CBD5DB 90%, #9DA7B1 10%);
        left: -2px;
        bottom: -2px;
        border-radius: 0 55px 0 8px;
    }


    &.last-item::after {
        background: linear-gradient(#ff6600, #eb7632);
        top: -2px;
        right: -2px;
        border-radius: 0 8px 0 55px;
    }

    .ud-popular-tag {
        display: inline-block;
        padding: 10px 25px;
        background: var(--white);
        border-radius: 30px;
        color: var(--primary-color);
        margin-bottom: 20px;
        font-weight: 600;
    }

    .ud-awards-header {
        h3 {
            font-weight: 400;
            margin-bottom: 8px;
            color: white;
        }

        h4 {
            font-weight: 600;
            font-size: 25px;
            color: var(--primary-color);
            margin-bottom: 40px;
        }
    }

    .ud-awards-body {
        margin-bottom: 40px;

        li {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 18px;
        }
    }

    .ud-main-btn {
        border-radius: 30px;
        padding: 15px 40px;
    }

    .ud-border-btn {
        border: 1px solid #d4deff;
        color: var(--primary-color);
        background: var(--white);

        &:hover {
            color: var(--white);
            border-color: var(--primary-color);
            background: var(--primary-color);
        }
    }

    .ud-white-btn {
        background: var(--white);
        color: var(--heading-color);

        &:hover {
            color: var(--white);
            background: var(--heading-color);
        }
    }
}

.aw-card-header {
    font-family: 'Acme', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
}

.aw-prize {
    transform: scale(1.4);
    color: #ff6600;
    text-shadow: rgb(0, 0, 0) 1px 1px 5px;
}

.aw-consolation {
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ff6600;
    background-color: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    //box-shadow: rgba(255, 102, 0, 0.85) 0 30px 60px -12px inset,
    //rgba(255, 102, 0, 0.58) 18px 8px 36px -18px inset ;

    @media #{$mobile} {
        font-size: 1.1em;
    }
}

.effectHv {
    z-index: 0;

    &:hover {
        transform: scale(1.02);
        transition: all .4s;
        z-index: 1;
    }

    transition: all .11s ease-in;
}

//aw-cons animation

.borders {
    animation: borders 3s infinite;
}

@keyframes borders {
    0% {
        transform: scale(1.04);
        filter: contrast(100%);
    }
    50% {
        transform: scale(1);
        filter: contrast(110%);
    }
    100% {
        transform: scale(1.04);
        filter: contrast(100%);
    }
    //50%{
    //  transform: scale(1);
    //  filter: contrast(110%);
    //}
}



