/* ===== Contact CSS ===== */
.ud-contact {
    padding-top: 40px;
    padding-bottom: 30px;

    z-index: 1 !important;
    background: black !important;
    position: relative !important;

    @media #{$md, $xs} {
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    h2 {
        color: var(--white);
        padding: 20px;
    }

    .ud-section-title {
        h5 {
            font-weight: 600;
            font-size: 1.3em;
            color: var(--primary-color);

            @media #{$xs, $md} {
                font-size: 1.1em;
            }

        }
    }

    @media #{$xs} {
        padding: 10px 0;
    }

    &::after {

        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
        height: 50%;
        background: transparent !important;

        @media #{$lg} {
            height: 45%;
        }
    }

    .lazyload-wrapper {
        height: 100%;
    }
}

//.ud-contact-title {
//  margin-bottom: 50px;
//
//  @media #{$md, $xs} {
//    margin-bottom: 15px;
//  }
//
//  h2 {
//    font-weight: 600;
//    font-size: 35px;
//    line-height: 41px;
//  }
//}

.ud-contact-info-wrapper {
    // box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 40px 50px;
    margin-bottom: 50px;

    @media #{$xs, $sm} {
        padding: 8px;
    }

    @media #{$laptop, $lg} {
        padding: 30px 30px;
    }

    @media #{$md} {
        padding: 20px;
    }

    .ud-info-icon {
        font-size: 2em;
        color: var(--primary-color);
        display: flex;
        margin-bottom: 20px;
        padding-left: 50px;

        @media #{$laptop} {
            padding-left: 30px;
        }

        @media #{$lg} {
            padding-left: 20px;
        }

        @media #{$xs, $md} {
            padding-left: 5px;
            text-align: center;
            justify-content: center;
        }

        i {
            margin-right: 12px;
        }

        h4 {
            font-weight: 600;
            font-size: 0.95em;
            color: var(--primary-color);
            padding-top: 4px;
            padding-left: 6px;

            @media #{$laptop} {
                font-size: 0.95em;
            }

            @media #{$lg} {
                font-size: 0.9em;
                padding-top: 5px;
            }

            @media #{$xs, $md} {
                font-size: 0.8em;
                padding-top: 8px;
            }
        }
    }

    .ud-info-meta {

        padding-left: 50px;

        @media #{$laptop} {
            padding-left: 30px;
        }

        @media #{$lg} {
            padding-left: 20px;
        }

        @media #{$xs, $md} {
            padding-left: 0;
        }

        p {
            font-size: 0.97em;
            color: var(--white);
            line-height: 24px;
            text-align: left;

            @media #{$md, $xs} {
                font-size: 0.85em;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

.map-wrapper {
    height: 100%;

    .map {
        display: flex;
        width: 360px;
        height: 100%;
        padding: 5px;
        border: 1px solid var(--white);
        border-radius: 8px;
        margin-bottom: 40px;

        @media #{$md} {
            width: 80%;
            height: 640px;
            margin: auto;
        }

        @media #{$xs} {
            width: 90%;
            margin: auto;
        }

    }
}

  


