/* ===== FAQ CSS ===== */
.ud-faq {
    padding-top: 60px;
    padding-bottom: 55px;
    background: rgba(10, 10, 10, 0.6) !important;

    @media #{$xs} {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    h2 {
        color: var(--white);
        padding: 20px;
    }

    .ud-section-title {
        h5 {
            font-weight: lighter;
            font-size: 1.3em;
            color: var(--primary-color);
        }
    }
}


.ud-single-faq {
    background: rgba(20, 20, 20, 0.5) !important;
    //backdrop-filter: blur(10px);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    margin-bottom: 30px;
    color: var(--white) !important;

    .ud-faq-btn {
        //reset default button styles
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin: 0;

        text-align: left;
        display: flex;
        width: 100%;
        align-items: center;
        background: rgba(20, 20, 20, 0.5) !important;

        font-weight: 600;
        font-size: 1.15em !important;
        color: var(--white);
        padding: 25px;

        @media #{$lg, $xs} {
            padding: 15px 20px;
        }


        &.collapsed {
            span.icon i {
                @include transform(rotate(0deg));
            }
        }

        button:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }

        &.collapse {
            span.icon i {
                @include transform(rotate(0deg));
            }
        }

        span.q-title {
            color: var(--primary-color);
        }

        span.q-title:hover {
            color: var(--primary-color);
        }

        span.icon {
            display: flex;
            align-items: center;
            justify-content: center;

            background: rgba(40, 40, 40, 0.8) !important;
            border-radius: 5px;
            color: var(--white);
            margin-right: 21px;
            padding: 5px 10px;

            i {
                @include transform(rotate(180deg));
                transition: all 0.3s;
                font-size: 18px;
                font-weight: 500;

                @media #{$md, $xs} {
                    font-size: 16px;
                }
            }
        }
    }

    .ud-faq-body {
        padding: 0 45px 35px 45px;
        text-align: center;
        text-align-last: center;
        background: rgba(20, 20, 20, 0.5) !important;
        line-height: 1.6em !important;
        font-size: 1.08em !important;

        @media #{$xs} {
            font-size: 0.85em;
            padding: 0 30px 25px 30px;
        }
    }
}
