.footer {
    background: rgba(10, 10, 10, 1) !important;
    color: rgb(190, 190, 190);
    padding: 2rem 0 2.3rem 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 9px 15px;
    width: fit-content;
    display: inline-block;

    img {
        width: 200px;
    }
}

.footer-text {
    text-align: center;
    padding: 2.1rem 0 2rem 0;
    transition: color 0.3s;
    font-size: 1.1em;
    color: var(--white);

}

.footer:hover .footer-text {
    color: var(--white);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    padding: 0.3rem 3rem;
    order: 2;
    color: var(--white);
}

.socials > div {
    margin: 0 0.7rem;
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    @include transition(0.3s);
    border: 1px solid var(--primary-color);
    background: rgba(5, 5, 5, 1);
}

.socials > div:hover {
    @include transition(0.3s);
    background: var(--primary-color);
}

.socials a {
    @include transition(0.3s);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials > div a {
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
}

.socials > div:hover a {
    color: black;
}

//@media screen and (min-width: 992px) {
//    .socials > div:hover {
//        border: 1px solid transparent;
//    }
//    .socials > div:hover a {
//        color: var(--primary-color);
//    }
//    .socials-instagram:hover {
//        background-color: var(--instagram);
//        box-shadow: 0 0 1rem var(--instagram);
//    }
//    .socials-facebook:hover {
//        background-color: var(--facebook);
//        box-shadow: 0 0 1rem var(--facebook);
//    }
//    .socials-linkedin:hover {
//        background-color: var(--linkedin);
//        box-shadow: 0 0 1rem var(--linkedin);
//    }
//}

.footer-copyright {
    /* width: 100%; */
    text-align: center;
    padding-top: 1.8rem;
}

.footer-back-to-top {
    float: right;
    cursor: pointer;
    color: rgb(190, 190, 190);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-back-to-top:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 767px) {

    .footer-logo {
        padding: 12px 12px 8px 12px;

        img {
            width: 150px;
        }
    }

    .footer-text {
        font-size: 1em;
    }

    .socials > div {
        border-width: 1px;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }

    //.socials-instagram {
    //    border: 1px solid var(--instagram);
    //}
    //.socials-facebook {
    //    border: 1px solid var(--facebook);
    //}
    //.socials-linkedin {
    //    border: 1px solid var(--linkedin);
    //}
    //
    //.socials-instagram svg {
    //    color: var(--instagram);
    //}
    //.socials-facebook svg {
    //    color: var(--facebook);
    //}
    //.socials-linkedin svg {
    //    color: var(--linkedin);
    //}
    //.socials > div a {
    //    color: black;
    //}
}
