.aw-gallery-title {
    color: white;
    margin-bottom: 40px;
    margin-top: 10px;

    h2 {
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        text-transform: capitalize;
        color: white;
    }

    p {
        font-size: 20px;
        line-height: 30px;

        @media #{$xs} {
            font-size: 15px;
            line-height: 26px;
        }
    }
}

/*--------------------------------------------------------------
# Gallery Isotope - General
--------------------------------------------------------------*/

.ud-gallery {
    section {
        padding: 40px 0;
        overflow: hidden;
    }

    .section-title {
        padding-bottom: 40px;
    }

    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
    }

    .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: var(--primary-color);
        margin: 4px 10px;
    }

    .section-title p {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        color: #151515;
    }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
    margin-bottom: 24px;
}

.gallery #gallery-flters {
    padding: 0;
    margin: 15px auto 20px auto;
    list-style: none;
    text-align: center;
}

.gallery #gallery-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 1.08em;
    font-weight: 500;
    line-height: 1;
    color: var(--white);
    opacity: 0.6;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.gallery #gallery-flters li:hover, .gallery #gallery-flters li.filter-active {
    opacity: 1;
    color: black;
    background: var(--primary-color);
}

.gallery #gallery-flters li:last-child {
    margin-right: 0;
}

.gallery .gallery-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(21, 21, 21, 0.6);
    border-radius: 8px;
}

.gallery .gallery-wrap::before {
    content: "";
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.gallery .gallery-wrap img {
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
}

.gallery .gallery-wrap .gallery-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.gallery .gallery-wrap .gallery-info h4 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    color: var(--white);
    font-weight: 500;
}

.gallery .gallery-wrap .gallery-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.gallery .gallery-wrap .gallery-links {
    text-align: center;
    z-index: 4;
}

.gallery .gallery-wrap .gallery-links a {
    color: var(--white);
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.gallery .gallery-wrap .gallery-links a:hover {
    color: #ffc451;
}

.gallery .gallery-wrap:hover::before {
    opacity: 1;
}

.gallery .gallery-wrap:hover img {
    transform: scale(1.15);
}

.gallery .gallery-wrap:hover .gallery-info {
    opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.gallery-details {
    padding-top: 40px;
}

.gallery-details .gallery-details-slider img {
    width: 100%;
}

.gallery-details .gallery-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.gallery-details .gallery-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--white);
    opacity: 1;
    border: 1px solid #ffc451;
}

.gallery-details .gallery-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffc451;
}

.gallery-details .gallery-info {
    padding: 30px;
    box-shadow: 0 0 30px rgba(21, 21, 21, 0.08);
}

.gallery-details .gallery-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.gallery-details .gallery-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.gallery-details .gallery-info ul li + li {
    margin-top: 10px;
}

.gallery-details .gallery-description {
    padding-top: 30px;
}

.gallery-details .gallery-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

.gallery-details .gallery-description p {
    padding: 0;
}


