/* ===== Hero CSS ===== */

.ud-hero {
    background: var(--bs-black-rgb);
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)) !important;
    position: relative !important;
    background-position: center;
    min-height: fit-content;
    //background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 110px;

    @media #{$lg} {
        padding-top: 90px;
    }

    @media #{$laptop} {
        padding-top: 85px;
        padding-bottom: 10px;
    }

    @media #{$desktop} {
        min-height: 100vh;
        padding-top: 160px;
    }
}

.ud-hero-content {
    max-width: 780px;
    font-size: 18px;

    @media #{$mobile} {
        font-size: 19px;
    }

    @media #{$xs} {
        font-size: 20px;
    }

    @media #{$md} {
        font-size: 22px;
    }

    @media #{$lg} {
        font-size: 23px;
    }

    @media #{$laptop} {
        font-size: 24px;
    }

    @media #{$desktop} {
        font-size: 27px;
    }

    .ud-hero-title {
        color: var(--white);
        font-weight: 700;
        text-align: center;
        font-size: 1.85em;
        line-height: 1.4em;
    }

    .ud-hero-logo {
        height: 180px;
        animation: bannerImgBounce 3s ease-in-out 0s infinite alternate;

        @media #{$sm} {
            height: 190px;
        }

        @media #{$md} {
            height: 200px;
        }

        @media #{$laptop} {
            height: 210px;
        }

        @media #{$desktop} {
            height: 300px;
        }
    }

    .ud-hero-subtitle {
        font-weight: normal;
        color: var(--white);
        opacity: 0.8;
        text-align: center;
        font-size: 0.98em;
        line-height: 1.6em;
        min-height: 70px;
    }

    .ud-hero-desc {
        font-weight: lighter;
        font-style: italic;
        font-size: 0.88em;
        text-align: center;
        color: var(--white);
        opacity: 0.8;
    }

    .flip-countdown {
        color: rgba(255, 255, 255, 0.7);

        .flip-countdown-title {
            font-size: 0.76em !important;
            padding-top: 10px;
        }

        .flip-countdown-piece {

            .flip-countdown-card .flip-countdown-card-sec {
                font-size: 35px;

                @media #{$xs, $sm, $mobile} {
                    font-size: 40px !important;
                    .card__top, .card__bottom {
                        padding-top: 2.2px;
                    }

                    .card__back {
                        padding-top: 2.2px;
                    }
                }

                @media #{$md, $lg, $laptop} {
                    font-size: 45px;
                }

                @media #{$desktop, $xl-desktop} {
                    font-size: 60px;
                    //.card__top, .card__bottom, .card__back {
                    //    padding: 0 0.2em;
                    //
                    //}
                    //
                    //.card__back {
                    //    padding: 0 0.097em;
                    //}
                }
            }
        }
    }

    .react-rotating-text-cursor {
        animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    }
}

.ud-hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .ud-main-btn {
        margin: 8px;
        border-radius: 8px;
        font-size: 0.75em;
        padding: 12px 20px;
        outline: none;

        @media #{$desktop} {
            padding: 16px 24px;
        }
    }

    .ud-white-btn {
        background: var(--white);
        color: var(--heading-color);

        &:hover {
            background: #fefefe;
            color: var(--primary-color);
        }
    }

    .ud-link-btn {
        &:hover {
            color: var(--white);
            background: transparent;
            opacity: 0.5;
        }
    }
}

.ud-hero-image {
    max-width: 840px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;

    img {
        max-width: 95%;
        text-align: center;
        justify-content: center;
    }

    .shape {
        position: absolute;
        z-index: -1;

        &.shape-1 {
            bottom: 0;
            left: -30px;
        }

        &.shape-2 {
            top: -20px;
            right: -20px;
        }
    }
}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bannerImgBounce {
    0% {
        -webkit-transform: translateY(6px) translateX(0);
        transform: translateY(6px) translateX(0);
    }
    100% {
        -webkit-transform: translateY(-8px) translateX(0px);
        transform: translateY(-8px) translateX(0px);
    }
}

@keyframes slideInFromUp {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-with-load-up {
    animation: 1.5s ease-out .3s 1 slideInFromUp;
}

.slide-with-load-bottom {
    animation: 1.5s ease-out .3s 1 slideInFromBottom;
}

.slide-with-load-left {
    animation: 1.5s ease-out .3s 1 slideInFromLeft;
}

.slide-with-load-right {
    animation: 1.5s ease-out .3s 1 slideInFromRight;
}
