/* ===== Sponsors CSS ===== */
.ud-sponsors {
    overflow-x: hidden;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 70px;

    z-index: 1 !important;
    background: rgba(18, 18, 18, 1) !important;
    position: relative !important;

    @media ($xs) {
        padding-top: 50px;
        padding-bottom: 60px;
    }


    h2, h3, h5, p {
        color: var(--white);
    }

    .aw-sponsors-title h2 {
        padding: 15px;
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        text-transform: capitalize;
        color: white;
    }

    h4 {
        font-size: x-large;
    }

    .platinum-sponsor {
        color: var(--silver);
        font-size: 1.08em;
    }

    .gold-sponsor {
        color: var(--gold);
    }

    .silver-sponsor {
        color: var(--silver);
    }

    .gold-border {
        border: 1px solid var(--gold);
    }

    .platinum-border {
        border: 2px solid var(--silver);
    }

    .silver-border {
        border: 1px solid var(--silver);
    }

    .ud-single-sponsor {
        @include transition(0.3s);
        border-radius: 10px;
        padding: 15px;
        margin: 5px 5px;
        background-color: rgba(20, 20, 20, 1) !important;
        height: 100%;

        &.second {
            border: 1px solid var(--platinum);
            position: relative;
            left: 110%;

            @media #{$md} {
                left: 55%;
            }

            @media #{$xs, $sm} {
                position: relative;
                left: 0;
            }

        }

        &.fourth, &.fifth {
            border: 1px solid var(--gold);
            position: relative;
            left: 55%;

            @media #{$xs, $sm, $md} {
                position: relative;
                left: 0;
            }

        }

        .header-section {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;

            @media #{$xs} {
                flex-wrap: wrap;
                //justify-content: space-around;
                justify-content: center;
            }


        }

        .logo-section {
            img {
                border-radius: 12px;
            }
        }

        .logo11 {
            padding: 5px 5px 5px 5px;
            width: 100px;
            height: 100px;


        }

        .logo22 {
            padding: 5px 5px 5px 5px;
            width: 100px;
            height: 100px;
        }

        img {
            height: 85px;
            padding: 8px;

            @media #{$xs} {
                height: 70px;
            }
            @media #{$sm} {
                height: 120px;
            }

        }

        .company-name h5 {
            word-break: break-word;
            color: var(--primary-color) !important;
            font-size: 1.6em;

        }

        .ud-content {
            text-align: justify;
            opacity: 0.92;
            font-size: 0.95em;
        }

        .react-player__preview, iframe {
            border-radius: 8px;
        }
    }


}

.ud-single-sponsor:hover {
    transform: scale(1.04);
    @include transition(0.3s);
}
