/* ===== Sponsors CSS ===== */

.ud-sponsors {
    overflow-x: hidden;
    padding: 50px 0;
    background-color: rgb(19, 17, 17);

    @media #{$xs} {
        padding: 10px;
    }

    h2, h5, font {
        color: var(--white);
    }

    h3 {
        margin: 50px 10px;   
    }

    .platinum-sponsor {
        color: #E5E4E2;    
    }

    .gold-sponsor {
        color: #b8860b;    
    }

    .silver-sponsor {
        color: #B8B9BB;
    }

    .ud-single-sponser {
        border-radius: 8px;
        padding: 25px 5px;
        margin: 5px 5px;
        background-color: #191a18;

        &.second {
            border: 1px solid #E5E4E2;
            position: relative;
            left: 110%;
            @media #{$xs} {
                position: relative;
                left: 0;
            }
            
    }

        &.fourth , &.sixth {
            border: 1px solid #b8860b;
            position: relative;
            left: 55%;
            @media #{$xs} {
                position: relative;
                left: 0;
            }
            
        }

        // &.seventh , &.eighth , &.ninth {
        //     border: 1px solid #B8B9BB;
        // }

        .header-section {
            display: flex;
            @media #{$xs} {
                flex-wrap: wrap;
                //justify-content: space-around;
                justify-content: center;
            }


        }

        // .logo-section {
        //     width: 30%;
        //     display: flex;
        //     margin:0 5px;
        //     padding: 0px;
        //     @media #{$xs} {
        //         flex-wrap: wrap;
        //         justify-content: space-between;
        //     }
        //     @media #{$sm} {
        //         flex-wrap: nowrap;

        //     }
        //     @media #{$mobile} {
        //         flex-wrap: nowrap;
        //     }

        .logo11 {
            padding: 5px 5px 5px 5px;
            width: 100px;
            height: 100px;


        }

        .logo22 {
            padding: 5px 5px 5px 5px;
            width: 100px;
            height: 100px;
        }

        .company {
           
            margin-top: 35px;
            // width: 100px;
            // height: 100px;
        }


            img {
                height: 90px;
                width: 90px;
                padding: 10px;
                @media #{$xs} {
                    height: 80px;
                }
                @media #{$sm} {
                    height: 120px;
                }

            }
        }

        // .company-name {
        //     width: 70%;
            

        //     h5{
        //         padding-top: 50px;
        //     }
        // }

        font {
            font-size: medium;
        }

        .ud-content {
            text-align: justify;
            padding: 10px;
            text-align-last: center;
        }

        iframe {
            @media #{$lg, $xs} {
                width: 150px;
                height: 100px;
            }
        }
    }

    .ud-single-sponser:hover {
        transform: scale(1.1);
        transition: .2s;
        // border-color: rgba(255, 139, 30, 0.692);
    }



