.ud-timeline {
    background: transparent !important;
    overflow-x: hidden;

    .nav.nav-pills {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: transparent;

        .containers {
            .group {
                #top {
                    margin-bottom: 8px;
                }

                #bottom {
                    margin-top: 8px;
                }

                .box {
                    border: 2px solid var(--primary-color);
                    background-color: var(--primary-color);

                    .item {
                        color: black;
                    }
                }
            }
        }
    }

    //heading

    .containers {
        background: transparent !important;

        .box {
            position: relative;
            width: 210px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--primary-color);
            border: 2px solid var(--primary-color);
            border-top: 0;
            border-bottom: 0;
            font-size: 1.1em;
            font-weight: 600;
        }


        .bot {
            width: 210px;
            height: 2px;
            background: var(--primary-color);
            display: block;
            position: relative;
            transition: all 0.2s ease-in-out;
        }

    }


    // arrow
    .changeArrow {
        transform: rotate(180deg) translate3d(400px, 0, 0);

    }

}

.vertical-timeline {
    background: transparent !important;
    width: 90%;

    @media only screen and (min-width: 991px) {
        width: 80% !important;
    }

    h5 {
        color: var(--heading-color);
        font-weight: 600;
    }

    .vertical-timeline-element-content {
        border-radius: 0.5em;
        padding: 1em;
        box-shadow: 0 4px 0 var(--body-color);

        @media only screen and (min-width: 991px) {
            padding: 1.4em;
        }
    }

    .vertical-timeline-element--no-children .vertical-timeline-element-content {
        box-shadow: none;
    }

    .vertical-timeline-element-icon {
        position: absolute;
        top: 0;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding-top: 10px !important;
        box-shadow: 0 2px 0 4px #fff, inset 0 0 0 #fff, 0 0 0 3px #fff
    }

    @media only screen and (min-width: 1170px) {
        .vertical-timeline-element-icon {
            margin-left: -23px;
        }
    }

    .vertical-timeline .vertical-timeline-element--work .vertical-timeline-element-content {
        border-bottom: 2px solid var(--primary-color);
        box-shadow: 0 4px 0 var(--body-color);
    }

    @media only screen and (max-width: 1199px) {
        .vertical-timeline-element-content {
            padding-top: 1.3em;
        }
    }

    @media only screen and (min-width: 1170px) {
        .vertical-timeline-element-content {
            padding: 1.6em;
        }

        .vertical-timeline--two-columns .vertical-timeline-element-icon {
            width: 45px !important;
            height: 45px !important;
            left: 50%;
            margin-left: -32px
        }
    }

    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-weight: bold;
        float: unset;
        padding-bottom: 0;
        color: var(--heading-color);
    }

    @media only screen and (min-width: 1170px) {
        .vertical-timeline--two-columns .vertical-timeline-element-content {
            margin-left: -60px;
            margin-right: -60px;
            padding: 1.5em;
            width: 50%
        }

        .vertical-timeline-element-content .vertical-timeline-element-date {
            text-align: center !important;
            width: 40%;
            font-size: 1rem;
            font-weight: normal;
            color: var(--white);
        }
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        right: 114%;
        text-align: left;
        color: var(--white);
    }

    .vertical-timeline-element--work .vertical-timeline-element-content {
        border-bottom: 2px solid var(--primary-color);
    }

    //icons
    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
        font-size: 1.5em;
        color: black;
        padding: 5px 10px;

        @media only screen and (min-width: 991px) {
            font-size: 1.4em;
            padding: 5px;
        }
    }

    .bi-x-diamond-fill::before, .bi-snow::before {
        color: white;
    }

    .timeline {
        justify-content: center;
        align-items: center;
    }

}


@keyframes fade-in-keyframes {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

@keyframes animation-line {
    0% {
        left: 80px;
    }

    100% {
        left: 0;
    }
}

@keyframes animation-arrow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    div.containers {
        padding-left: 0;

        .box {
            width: 130px;
            height: 40px;
        }

        .bot {
            width: 140px;
        }

    }
}

@media only screen and (max-width: 991px) {
    div.containers {
        padding-left: 0;

        .box {
            width: 180px;
            height: 60px;
        }

        .bot {
            width: 140px;
        }

    }
}

@media only screen and (max-width: 450px) {
    div.containers {
        padding-left: 0;
    }

}

@media only screen and (max-width: 1000px) {
    div.containers {
        padding: 10px;
    }
}

